/* black background for zoomed in images */
.curtain {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: white;
  opacity: 0.9;
  visibility: hidden;
}

/* default mobile layout is 2-up */
.gallery .pictureframe {
  width: 48%;
  cursor: pointer;
}

/* tablet layout */
@media (min-width: 600px) {
  .gallery .pictureframe {
    width: 31%;
  }

  #extraction .panel {
    width: 45%;
  }
  #extraction .pictureframe {
    width: 45%;
    order: 1;
  }


}

/* PC layout */
@media (min-width: 1000px) {
  .gallery .pictureframe {
    width: 24%;
  }
}
