#inputPanel {
  margin-top: 10px;
}

#inputText {
  margin: 5px 0px 5px 0px ;
  padding: 1px 5px 1px 5px;
  width: calc(100% - 5px);
  border-style: solid;
  border-width: 3px;
  border-color: darkgrey;
  background-color: white;
  font-size: 1em;
}

.outputText {
  margin: 0px 0px 15px 0px;
  padding: 1px 5px 1px 5px;
  display: inline-block;
  max-width: calc(100% - 10px);

  border-style: solid;
  border-width: 1px;
  border-color: darkgrey;
  background-color: white;
  font-size: 1.2em;
}

.cursiveFont {
  font-family: cursive;
}

/* PC layout */
@media (min-width: 1000px) {
  .panel {
    width: 45%;
  }
}
