@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");

* {
  font-family: 'Noto Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Navbar */
header {
  opacity: 0.95;
  height: 45px;
  width: 100%;
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
  background-color: white;
}

#rightnav {
  display: flex;
  float: right;
}

#rightnav li {
  margin: 0px 10px 0px 10px;
}

header img{
  height: 100%;
  vertical-align: middle;
}

header ul {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  list-style-type: none;
  margin: 0px 0px 0px 5px;
}

footer {
  width: 100%;
  padding: 10px;
}

footer div {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

footer img{
  width: 30px;
  margin: 15px;
}

article{
  width: 90%;
  margin: 10px auto 10px auto;
  padding: 10px 10px 10px 10px;
  background-color: #fffff8;
  /* background-color: #f8f8f8f8; */

  border-style: solid;
  border-width: 1px;
  border-color: darkgrey;
  box-shadow: 2px 2px 5px grey;
}

section {
  margin: 20px 10px 20px 10px;
}

ul {
  margin: 0.5em 0px 1em 1.5em;
}

h1 {
  margin-bottom: 0.5em;
  font-size: 1.5em;
}
h2 {
    font-size: 1.2em;
    margin-top:0.6em;

}

p {
    margin-top: 0.5em;
    text-align: justify;
}

input {
  border-style: solid;
  border-color: grey;
  padding-left: 0.5em;
}

button {
  background-color: lightgrey;
  margin: 5px;
  padding: 5px;
  box-shadow: 2px 2px 5px grey;
}

.panel {
  margin: 10px 10px 20px 5px;
  padding: 20px 10px 10px 10px;
  width: calc(100% - 15px);

  border-style: solid;
  border-width: 1px;
  border-color: darkgrey;
  box-shadow: 2px 2px 5px grey;
}

.gallery {
  margin-top: 30px;
}

.pictureframe {
  width: 100%;
  margin-bottom: 20px;
  transform: rotate(1deg);
}

/* tape effect */
.pictureframe::before {
  content: "";
  background-color: var(--color, #d0ffd0);
  display: block;
  width: 40%;
  height: 30px;
  transform: skewX(7deg) rotate(2deg);
  opacity: 0.8;
  box-shadow: 0.5px 0.5px 1px grey;
  margin: 0px auto -7px auto;
}

.pictureframe img{
  width: 100%;
  border-width: 10px 10px 40px 10px;
  border-style: solid;
  border-color: white;
  box-shadow: 3px 3px 5px grey;
}

.picturecaption {
  margin: -45px 10px 30px 10px;
  font-family: cursive;
  font-size: 0.8em;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-start;
}

.hidden {
  visibility: hidden;
}
