@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");

* {
  font-family: 'Noto Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  opacity: 0.95;
  height: 45px;
  width: 100%;
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
  background-color: white;
}

#rightnav {
  display: flex;
  float: right;
}

#rightnav li {
  margin: 0px 10px 0px 10px;
}

header img{
  height: 100%;
  vertical-align: middle;
}

header ul {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  list-style-type: none;
}

footer {
  width: 100%;
  padding: 10px;
}

footer div {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

footer img{
  width: 30px;
  margin: 15px;
}
article{
  width: 90%;
  margin: 10px auto 10px auto;
  padding: 10px 10px 10px 10px;
  background-color: #fffff8;

  border-style: solid;
  border-width: 1px;
  border-color: darkgrey;
  box-shadow: 2px 2px 5px grey;
}

section {
  margin: 10px;
}

.panel {
  margin: 5px;
  padding: 20px 10px 10px 10px;
  width: 100%;

  border-style: solid;
  border-width: 1px;
  border-color: darkgrey;
  box-shadow: 2px 2px 5px grey;
}

.pictureframe {
  width: 100%;
  transform: rotate(1deg);
  cursor: pointer;
}

.pictureframe::before {
  content: "";
  background-color: #c0ffc0;
  display: block;
  width: 40%;
  height: 30px;
  transform: skewX(7deg) rotate(2deg);
  opacity: 0.8;
  box-shadow: 0.5px 0.5px 1px grey;
  margin: 0px auto -7px auto;
}

.pictureframe img{
  width: 100%;
  border-width: 10px 10px 40px 10px;
  border-style: solid;
  border-color: white;
  box-shadow: 3px 3px 5px grey;
}

.picturecaption {
  margin: -45px 10px 30px 10px;
  font-family: cursive;
  font-size: 0.8em;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row;
}
